# Note: This requires users to update the branch to create an envrionment from the branch they are
#   working on.
vivarium @ git+https://github.com/ihmeuw/vivarium@release-candidate-spring
vivarium_public_health @ git+https://github.com/ihmeuw/vivarium_public_health@release-candidate-spring
vivarium_cluster_tools @ git+https://github.com/ihmeuw/vivarium_cluster_tools@release-candidate-spring
gbd_mapping>=4.0.0
vivarium_inputs>=5.0.0
vivarium_gbd_acess>=4.0.0
core-maths
click
jinja2
loguru
numpy
pandas
pyyaml
scipy
tables
black==22.3.0
isort